langchain 
langchain_community 
langchain-experimental 
langchain-openai 
chromadb 
datasets 
ragas
langchain-google-genai
langchain-qdrant
torch
numpy
pypdf
langchain-huggingface
fastembed
google-generativeai
grpcio==1.67.1
langchain-cli
rank_bm25
rank_llm
pymongo